:root {
  --background-color: #1b1b1b;
  --color: white;

  --post-small-background-color: white;
  --post-small-color: black;

  --link: #ffa600;

  --footer-background-color: #00087e;

  --scrollbar-track-background-color: #3b3b3b;
  --scrollbar-thumb-background-color: #2b2b2b;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: var(--scrollbar-track-background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
}

header {
  width: 95vw;
  margin: auto;
  display: block;
  border-bottom: solid 1px;
  border-color: var(--color);
}

header nav {
  width: 100%;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header nav a {
  color: var(--color);
  text-decoration: none;
}

header nav a.active {
  font-weight: bold;
  color: var(--link)
}

#content {
  display: block;
  width: 95%;
  margin: auto;
}

#postsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* margin: auto; */
}

.postsLine {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.postSmall, .post {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  box-sizing: border-box;
  width: 25vw;
  height: 12.5vw;
  background-color: var(--post-small-background-color);
  color: var(--post-small-color);
}

.postContent, .postSmallContent {
  overflow-y: auto;
}

.postSmallCredits {
  border-top: solid 1px;
  border-color: var(--background-color);
}

.post {
  width: 80%;
  height: unset;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
}

.post[open] {
  opacity: 1;
}

.post .postContent {
  height: 0px;
  overflow: hidden;
}

.post[open] .postContent {
  height: fit-content;
}

a.postAuthor {
  color: var(--link);
}

footer {
  display: flex;
  min-height: 256px;
  align-items: center;
  padding: 0 16px;
  background-color: var(--footer-background-color);
}

footer table {
  table-layout: fixed;
  width: 20%;
}

table#profileTable {
  table-layout: fixed;
  width: 95%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  border-collapse: collapse;
}

table#profileTable th, table#profileTable td {
  border: solid 1px;
}

#contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 32px;
}

div#form {
  /* border: solid 1px black; */
  padding: 16px;
  width: 50%;
  background-color: var(--background-color);
  border: solid 1px;
  border-color: var(--color);
  font-size: 24px;
}

div#form div.field {
  display: flex;
  justify-content: space-between;
}

div#form label hint {
  font-size: 12px;
}

div#form input, div#form textarea {
  font-size: 24px;
  width: 50%;
}

div#form textarea {
  min-height: 128px;
  height: 128px;
}

div#form #inputSend {
  width: 100%;
}

div#form .inputErrorMessage {
  text-align: right;
  color: red;
  font-size: 16px;
}

#searchField {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchField input {
  font-size: 24px;
}